/*Global and Body*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'El Messiri', sans-serif;
    border: solid 1px black;
    background-color: orange;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr/ 1fr 5fr;
}

/*Navigation*/
nav{

}

nav ul p{
    cursor: pointer;
}

/*Header*/
header{

}

/*Content*/
.content{

}