/*Global and Body*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'El Messiri', sans-serif;
    border: solid 1px black;
    background-color: orange;
}

:root {
    font-size: calc(0.625rem + 0.4vw);
}
/* grid-template-rows / grid-template-columns values */
body{
    display: grid;
    grid-template: auto 4fr / 1fr 4fr;
}

/*Navigation*/
nav{
    display: grid;
    grid-template-rows: auto auto 2fr;
    padding: 1rem;
}

nav ul p, nav ul img{
    cursor: pointer;
}

nav ul li img{
    height: 2rem;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 2rem;
    margin-bottom: 10px;
}

.nav-item{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.top-nav{

}

/*Header*/
header{
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
}

.profile-container{
    display: grid;
    grid-template: 1fr 1fr / auto 1fr;
    gap: 0.5rem 1rem;
}

.profile-circle.cell{
    grid-row: 1/3;
    align-self: center;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
}

.profile-circle {
    justify-self: center;
    border-radius: 50%;
    background-color: #ef4444;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: #ffffff;
}

/*Content*/
.content{

}